@using alwatnia.Helper
@{
  var isEng = Functions.IsEnglish();
  var arArr = new[]
  {
"آروبا",
"أذربيجان",
"أرمينيا",
"أسبانيا",
"أستراليا",
"أفغانستان",
"ألبانيا",
"ألمانيا",
"أنتيجوا وبربودا",
"أنجولا",
"أنجويلا",
"أندورا",
"أورجواي",
"أوزبكستان",
"أوغندا",
"أوكرانيا",
"أيرلندا",
"أيسلندا",
"اثيوبيا",
"اريتريا",
"استونيا",
"اسرائيل",
"الأرجنتين",
"الأردن",
"الاكوادور",
"الامارات العربية المتحدة",
"الباهاما",
"البحرين",
"البرازيل",
"البرتغال",
"البوسنة والهرسك",
"الجابون",
"الجبل الأسود",
"الجزائر",
"الدانمرك",
"الرأس الأخضر",
"السلفادور",
"السنغال",
"السودان",
"السويد",
"الصحراء الغربية",
"الصومال",
"الصين",
"العراق",
"الفاتيكان",
"الفيلبين",
"القطب الجنوبي",
"الكاميرون",
"الكونغو - برازافيل",
"الكويت",
"المجر",
"المحيط الهندي البريطاني",
"المغرب",
"المقاطعات الجنوبية الفرنسية",
"المكسيك",
"المملكة العربية السعودية",
"المملكة المتحدة",
"النرويج",
"النمسا",
"النيجر",
"الهند",
"الولايات المتحدة الأمريكية",
"اليابان",
"اليمن",
"اليونان",
"اندونيسيا",
"ايران",
"ايطاليا",
"بابوا غينيا الجديدة",
"باراجواي",
"باكستان",
"بالاو",
"بتسوانا",
"بتكايرن",
"بربادوس",
"برمودا",
"بروناي",
"بلجيكا",
"بلغاريا",
"بليز",
"بنجلاديش",
"بنما",
"بنين",
"بوتان",
"بورتوريكو",
"بوركينا فاسو",
"بوروندي",
"بولندا",
"بوليفيا",
"بولينيزيا الفرنسية",
"بيرو",
"تانزانيا",
"تايلند",
"تايوان",
"تركمانستان",
"تركيا",
"ترينيداد وتوباغو",
"تشاد",
"توجو",
"توفالو",
"توكيلو",
"تونجا",
"تونس",
"تيمور الشرقية",
"جامايكا",
"جبل طارق",
"جرينادا",
"جرينلاند",
"جزر أولان",
"جزر الترك وجايكوس",
"جزر القمر",
"جزر الكايمن",
"جزر المارشال",
"جزر الملديف",
"جزر الولايات المتحدة البعيدة الصغيرة",
"جزر سليمان",
"جزر فارو",
"جزر فرجين الأمريكية",
"جزر فرجين البريطانية",
"جزر فوكلاند",
"جزر كوك",
"جزر كوكوس",
"جزر ماريانا الشمالية",
"جزر والس وفوتونا",
"جزيرة الكريسماس",
"جزيرة بوفيه",
"جزيرة مان",
"جزيرة نورفوك",
"جزيرة هيرد وماكدونالد",
"جمهورية افريقيا الوسطى",
"جمهورية التشيك",
"جمهورية الدومينيك",
"جمهورية الكونغو الديمقراطية",
"جمهورية جنوب افريقيا",
"جواتيمالا",
"جوادلوب",
"جوام",
"جورجيا",
"جورجيا الجنوبية وجزر ساندويتش الجنوبية",
"جيبوتي",
"جيرسي",
"دومينيكا",
"رواندا",
"روسيا",
"روسيا البيضاء",
"رومانيا",
"روينيون",
"زامبيا",
"زيمبابوي",
"ساحل العاج",
"ساموا",
"ساموا الأمريكية",
"سان مارينو",
"سانت بيير وميكولون",
"سانت فنسنت وغرنادين",
"سانت كيتس ونيفيس",
"سانت لوسيا",
"سانت مارتين",
"سانت هيلنا",
"ساو تومي وبرينسيبي",
"سريلانكا",
"سفالبارد وجان مايان",
"سلوفاكيا",
"سلوفينيا",
"سنغافورة",
"سوازيلاند",
"سوريا",
"سورينام",
"سويسرا",
"سيراليون",
"سيشل",
"شيلي",
"صربيا",
"طاجكستان",
"عمان",
"غامبيا",
"غانا",
"غويانا",
"غيانا",
"غينيا",
"غينيا الاستوائية",
"غينيا بيساو",
"فانواتو",
"فرنسا",
"فلسطين",
"فنزويلا",
"فنلندا",
"فيتنام",
"فيجي",
"قبرص",
"قرغيزستان",
"قطر",
"كازاخستان",
"كاليدونيا الجديدة",
"كرواتيا",
"كمبوديا",
"كندا",
"كوبا",
"كوريا الجنوبية",
"كوريا الشمالية",
"كوستاريكا",
"كولومبيا",
"كيريباتي",
"كينيا",
"لاتفيا",
"لاوس",
"لبنان",
"لوكسمبورج",
"ليبيا",
"ليبيريا",
"ليتوانيا",
"ليختنشتاين",
"ليسوتو",
"مارتينيك",
"ماكاو الصينية",
"مالطا",
"مالي",
"ماليزيا",
"مايوت",
"مدغشقر",
"مصر",
"مقدونيا",
"ملاوي",
"منغوليا",
"موريتانيا",
"موريشيوس",
"موزمبيق",
"مولدافيا",
"موناكو",
"مونتسرات",
"ميانمار",
"ميكرونيزيا",
"ناميبيا",
"نورو",
"نيبال",
"نيجيريا",
"نيكاراجوا",
"نيوزيلاندا",
"نيوي",
"هايتي",
"هندوراس",
"هولندا",
"هونج كونج الصينية"
};
  var enArr = new[]
  {
"Aruba",
"Azerbaijan",
"Armenia",
"Spain",
"Australia",
"Afghanistan",
"Albania",
"Germany",
"Antigua and Barbuda",
"Angola",
"Anguilla",
"Andorra",
"Uruguay",
"Uzbekistan",
"Uganda",
"Ukraine",
"Ireland",
"Iceland",
"Ethiopia",
"Eritrea",
"Estonia",
"Israel",
"Argentina",
"Jordan",
"Ecuador",
"United Arab Emirates",
"Bahamas",
"Bahrain",
"Brazil",
"Portugal",
"Bosnia and Herzegovina",
"Gabon",
"Montenegro",
"Algeria",
"Denmark",
"Cape Verde",
"El Salvador",
"Senegal",
"Sudan",
"Sweden",
"Western Sahara",
"Somalia",
"China",
"Iraq",
"Holy See (Vatican City State)",
"Philippines",
"Antarctica",
"Cameroon",
"Congo",
"Kuwait",
"Hungary",
"British Indian Ocean Territory",
"Morocco",
"French Southern Territories",
"Mexico",
"Saudi Arabia",
"United Kingdom",
"Norway",
"Austria",
"Niger",
"India",
"United States",
"Japan",
"Yemen",
"Greece",
"Indonesia",
"Iran, Islamic Republic of",
"Italy",
"Papua New Guinea",
"Paraguay",
"Pakistan",
"Palau",
"Botswana",
"Pitcairn",
"Barbados",
"Bermuda",
"Brunei Darussalam",
"Belgium",
"Bulgaria",
"Belize",
"Bangladesh",
"Panama",
"Benin",
"Bhutan",
"Puerto Rico",
"Burkina Faso",
"Burundi",
"Poland",
"Bolivia, Plurinational State of",
"French Polynesia",
"Peru",
"Tanzania, United Republic of",
"Thailand",
"Taiwan, Province of China",
"Turkmenistan",
"Turkey",
"Trinidad and Tobago",
"Chad",
"Togo",
"Tuvalu",
"Tokelau",
"Tonga",
"Tunisia",
"Timor-Leste",
"Jamaica",
"Gibraltar",
"Grenada",
"Greenland",
"Åland Islands",
"Turks and Caicos Islands",
"Comoros",
"Cayman Islands",
"Marshall Islands",
"Maldives",
"United States Minor Outlying Islands",
"Solomon Islands",
"Faroe Islands",
"Virgin Islands, U.S.",
"Virgin Islands, British",
"Falkland Islands (Malvinas)",
"Cook Islands",
"Cocos (Keeling) Islands",
"Northern Mariana Islands",
"Wallis and Futuna",
"Christmas Island",
"Bouvet Island",
"Isle of Man",
"Norfolk Island",
"Heard Island and McDonald Islands",
"Central African Republic",
"Czech Republic",
"Dominican Republic",
"Congo, the Democratic Republic of the",
"South Africa",
"Guatemala",
"Guadeloupe",
"Guam",
"Georgia",
"South Georgia and the South Sandwich Islands",
"Djibouti",
"Jersey",
"Dominica",
"Rwanda",
"Russian Federation",
"Belarus",
"Romania",
"Réunion",
"Zambia",
"Zimbabwe",
"Côte d'Ivoire",
"Samoa",
"American Samoa",
"San Marino",
"Saint Pierre and Miquelon",
"Saint Vincent and the Grenadines",
"Saint Kitts and Nevis",
"Saint Lucia",
"Saint Martin (French part)",
"Saint Helena, Ascension and Tristan da Cunha",
"Sao Tome and Principe",
"Sri Lanka",
"Svalbard and Jan Mayen",
"Slovakia",
"Slovenia",
"Singapore",
"Swaziland",
"Syrian Arab Republic",
"Suriname",
"Switzerland",
"Sierra Leone",
"Seychelles",
"Chile",
"Serbia",
"Tajikistan",
"Oman",
"Gambia",
"Ghana",
"French Guiana",
"Guyana",
"Guinea",
"Equatorial Guinea",
"Guinea-Bissau",
"Vanuatu",
"France",
"Palestinian Territory, Occupied",
"Venezuela, Bolivarian Republic of",
"Finland",
"Viet Nam",
"Fiji",
"Cyprus",
"Kyrgyzstan",
"Qatar",
"Kazakhstan",
"New Caledonia",
"Croatia",
"Cambodia",
"Canada",
"Cuba",
"Korea, Republic of",
"Korea, Democratic People's Republic of",
"Costa Rica",
"Colombia",
"Kiribati",
"Kenya",
"Latvia",
"Lao People's Democratic Republic",
"Lebanon",
"Luxembourg",
"Libya",
"Liberia",
"Lithuania",
"Liechtenstein",
"Lesotho",
"Martinique",
"Macao",
"Malta",
"Mali",
"Malaysia",
"Mayotte",
"Madagascar",
"Egypt",
"Macedonia, the former Yugoslav Republic of",
"Malawi",
"Mongolia",
"Mauritania",
"Mauritius",
"Mozambique",
"Moldova, Republic of",
"Monaco",
"Montserrat",
"Myanmar",
"Micronesia, Federated States of",
"Namibia",
"Nauru",
"Nepal",
"Nigeria",
"Nicaragua",
"New Zealand",
"Niue",
"Haiti",
"Honduras",
"Netherlands",
"Hong Kong"
};
}

@if (isEng)
{
  foreach (var ctr in enArr)
  {
    <option value="@ctr">@ctr</option>
  }
}
else
{
  foreach (var ctr in arArr)
  {
    <option value="@ctr">@ctr</option>
  }
}