
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ar">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>تواصل معنا</title>
</head>
<body style="font-size:16px;text-align:right">
  <div style="width:100%">
      <p>عزيزي مقدم الطلب،</p>
      <p>أشكركم على الاتصال بقسم التوظيف والتدريب التابع لشركة الوطنية للصناعات. لقد تلقينا بريدك الإلكتروني وسيستجيب فريقنا إليك قريبا.</p>
      <p>يرجى ملاحظة أن ساعات العمل لدينا هي من 7:30  صباحا  إلى 4:30 مساءا (بتوقيت المملكة العربية السعودية ) من الأحد إلى الخميس، ونأسف لتأخر الرد خارج أوقات ساعات العمل الرسمية.</p>
      <p>مع التحية,</p>
      <p>قسم التوظيف والتدريب القسم</p>
      <p>الشركة الوطنية للصناعة</p>
  </div>
</body>
</html>
