
<section class="section-topBanar">
    <div class="container">

        <h2 class="title-page">حدث خطأ</h2>
    </div>
</section><!--section-topBanar-->
<div class="section-contentInner">
    <div class="container">
        <div class="conference-list">
            <div class="row" style="text-align:center;margin-bottom:150px;">
                <i class="fa fa-exclamation-triangle" style="font-size:100px;    margin-top: 100px;text-align: center;"></i>
                <h1>نأسف ! حدث خطأ غير متوقع </h1>
            </div>
        </div>
    </div>
</div>
