@model alwatnia.areas.cpanel.Models.ChangePasswordViewModel
@{
  ViewBag.Title = "تغيير كلمة المرور";
  if (User.IsInRole("Helper"))
  {
    Layout = "~/Areas/Helper/Views/Shared/_Layout.cshtml";

  }
  else if (User.IsInRole("Admin"))
  {
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";

  }
  else if (User.IsInRole("Unit"))
  {
    Layout = "~/Areas/Unit/Views/Shared/_Layout.cshtml";
  }
}

<form action="@Url.Action("ChangePassword", "Account",new {area = "cpanel"})" method="post" class="horizontal-form" id="Slider_form" >
  <div class="row">
    @Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })

    
    @if (!ViewContext.ViewData.ModelState.IsValid)
    {
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        @Html.ValidationSummary()
      </div>        
    }

    <div class="col-md-12">
        <div class="portlet-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>كلمة المرور القديمة</label>
                <input type="password" class="form-control" name="OldPassword" placeholder="كلمة المرور القديمة" />
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>كلمة المرور الجديده</label>
                <input type="password" class="form-control" name="NewPassword" placeholder="كلمة المرور الجديده" />
              </div>
            </div>

            <div class="col-md-12">
              <button type="submit" class="btn btn-primary">
                تغيير
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>

